@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    font-family: var(--font-poppins), sans-serif;
  @apply bg-white text-black;

  }
  
  @keyframes flipUp {
    0% {
      opacity: 0;
      transform: rotateX(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

.dark body {
  @apply bg-gray-900 text-white;
}
