@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    font-family: var(--font-poppins), sans-serif;
  @apply bg-white text-black;

  }
  
  @keyframes flipUp {
    0% {
      opacity: 0;
      transform: rotateX(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

.dark body {
  @apply bg-gray-900 text-white;
}


.object-cover {
  transition: 0.4s;
}

.asbnt {
  transition: 0.3s;
}

.title {
  font-weight: 600;
}

.btn {
  font-weight: 600;
}

.page {
  animation: Top 1s;
}

@keyframes Top {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.inset-shadow {
  @apply absolute bottom-0 flex w-full text-white;
  box-shadow: 0px 40px 40px 150px rgba(0, 0, 0, 90%);
}

@keyframes fade-in-down {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.6s ease-out;
}
